<table style="border-collapse: collapse; margin: 0; padding: 0; margin-bottom: 6px; width: auto;">
  <tr>
    <td style="vertical-align: middle; padding-right: 6px; width: 68px;">
      {% if branding.emblem_base64 %}
      <img src="{{ branding.emblem_base64 }}" width="68" height="42" alt="Menard Trading CC" style="display: block;" />
      {% elif branding.logo_url %}
      <img src="{{ branding.logo_url }}" width="68" height="42" alt="Menard Trading CC" style="display: block;" />
      {% endif %}
    </td>
    <td style="vertical-align: middle; white-space: nowrap; padding: 0;">
      <table style="border-collapse: collapse; margin: 0; padding: 0; width: 100%;">
        <tr>
          <td colspan="14" style="padding: 0; white-space: nowrap;">
            <div class="brand-title" style="white-space: nowrap; margin: 0; padding: 0;">{{ branding.brand_name|default:branding.company_name|default:"MENARD TRADING CC" }}</div>
          </td>
        </tr>
        <tr>
          <td style="text-align: left; font-size: 5.5pt; font-weight: bold; color: #b47828; text-transform: uppercase; padding: 0; line-height: 1; padding-top: 3px;">A</td>
          <td style="text-align: center; font-size: 5.5pt; font-weight: bold; color: #b47828; text-transform: uppercase; padding: 0; line-height: 1; padding-top: 3px;">L</td>
          <td style="text-align: center; font-size: 5.5pt; font-weight: bold; color: #b47828; text-transform: uppercase; padding: 0; line-height: 1; padding-top: 3px;">W</td>
          <td style="text-align: center; font-size: 5.5pt; font-weight: bold; color: #b47828; text-transform: uppercase; padding: 0; line-height: 1; padding-top: 3px;">A</td>
          <td style="text-align: center; font-size: 5.5pt; font-weight: bold; color: #b47828; text-transform: uppercase; padding: 0; line-height: 1; padding-top: 3px;">Y</td>
          <td style="text-align: center; font-size: 5.5pt; font-weight: bold; color: #b47828; text-transform: uppercase; padding: 0; line-height: 1; padding-top: 3px;">S</td>
          <td style="width: 5px; padding: 0; padding-top: 3px;"></td>
          <td style="text-align: center; font-size: 5.5pt; font-weight: bold; color: #b47828; text-transform: uppercase; padding: 0; line-height: 1; padding-top: 3px;">O</td>
          <td style="text-align: center; font-size: 5.5pt; font-weight: bold; color: #b47828; text-transform: uppercase; padding: 0; line-height: 1; padding-top: 3px;">N</td>
          <td style="width: 5px; padding: 0; padding-top: 3px;"></td>
          <td style="text-align: center; font-size: 5.5pt; font-weight: bold; color: #b47828; text-transform: uppercase; padding: 0; line-height: 1; padding-top: 3px;">T</td>
          <td style="text-align: center; font-size: 5.5pt; font-weight: bold; color: #b47828; text-transform: uppercase; padding: 0; line-height: 1; padding-top: 3px;">I</td>
          <td style="text-align: center; font-size: 5.5pt; font-weight: bold; color: #b47828; text-transform: uppercase; padding: 0; line-height: 1; padding-top: 3px;">M</td>
          <td style="text-align: right; font-size: 5.5pt; font-weight: bold; color: #b47828; text-transform: uppercase; padding: 0; line-height: 1; padding-top: 3px;">E</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
